
<%= form_for @category, :html => { :role=>"form", :class=>"form-horizontal" } do |f| %>

 <div class="form-group<%= @category.errors[:description].any? ? " has-error has-feedback" : "" %>">
  
    <%= f.label :description %><br>
   <div class="col-sm-10">  
  
    <%= f.text_field :description, class: "form-control", autofocus: true %>
         <%if @category.errors[:description].any? %>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <p class="bg-warning"><%= @category.errors[:description].to_s[/\w([^"]*)/] %></p>
      <% end -%>
    </div>

  <div class="actions">
    <%= f.submit nil,  value: 'Guardar', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>