<%= form_for(@product, html: { multipart: true }) do |f| %>
  

  <div class="fomr-group">
    <%= f.label :category_id, "Categoria" %>
    <div class="form-group<%= @product.errors[:category_id].any? ? " has-error has-feedback" : "" %>">
    <%= f.collection_select(:category_id, Category.all, :id, :description, {:include_blank => 'Seleccciona Categoria'}, class: 'form-control') %>
      <%if @product.errors[:category_id].any? %>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <p class="bg-danger"><%= @product.errors[:category_id].to_s[/\w([^"]*)/] %></p>
       <%end%>
    </div>

    
  </div>
  
  <div class="form-group">
    
    <%= f.label :product_name, "Nombre de Producto" %>
    <div class="form-group<%= @product.errors[:product_name].any? ? " has-error has-feedback" : "" %>">
    <%= f.text_field :product_name, class: "form-control", placeholder: 'Nombre del Producto' %>
      <%if @product.errors[:product_name].any? %>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <p class="bg-danger"><%= @product.errors[:product_name].to_s[/\w([^"]*)/] %></p>
       <%end%>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :marca_id %>
    <div class="form-group<%= @product.errors[:marca_id].any? ? " has-error has-feedback" : "" %>">
    <%= f.collection_select(:marca_id, Marca.all, :id, :name_marca, {:include_blank => 'Seleccciona Marca'}, class: 'form-control') %>
      <%if @product.errors[:marca_id].any? %>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <p class="bg-danger"><%= @product.errors[:marca_id].to_s[/\w([^"]*)/] %></p>
       <%end%>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label :modelo_id %>
    <div class="form-group<%= @product.errors[:modelo_id].any? ? " has-error has-feedback" : "" %>">
    <%= f.collection_select(:modelo_id, Modelo.all, :id, :name_model, {:include_blank => 'Seleccciona Modelo'}, class: 'form-control') %>
      <%if @product.errors[:modelo_id].any? %>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <p class="bg-danger"><%= @product.errors[:modelo_id].to_s[/\w([^"]*)/] %></p>
       <%end%>
    </div>

  </div>
  
   
  <div class="form-group">
    <%= f.label :description, "Descripcion" %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Precio" %>
    <div class="form-group<%= @product.errors[:price].any? ? " has-error has-feedback" : "" %>">
    <%if @product.errors[:price].any? %>
    <%= f.text_field :price, class: "form-control", placeholder: '0.00' %>
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <p class="bg-danger"><%= @product.errors[:price].to_s[/\w([^"]*)/] %></p>
    <% end %>     
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, "Buscar Imagen" %><br>
    <%= f.file_field :image, type: 'file' %>
  </div>
  <div class="Imagen">
    <%= image_tag @product.image, height: '250', width: '250' if @product.image? %>
  </div>
  <div class="actions">
    <%= f.submit nil,  value: 'Guardar', class: 'btn btn-primary' %>
  </div>

  
<% end %>
